@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.img-flex {
  display: block;
  width: 100%;
}

body {
  margin: 0;
}

ul {
  display: inline-block;
}

h1 {
  text-align: center;
}

header {
  background-color: #e2e2e2;
}

a {
  text-decoration: none;
  color: #0074d9;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: block;
}

li {
  display: inline-block;
}

li:hover {
  background-color: #0074d9;
}

a:hover {
  color: white;
}

@media only screen and (min-width: 38em) {

  ul {
    text-align: right;
  }

}
